body {
  margin:0px;
  background-color:rgba(0, 102, 102, 0.498039215686275);
  background-image:none;
  position:static;
  left:auto;
  width:726px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u847_div {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u847 {
  position:absolute;
  left:36px;
  top:52px;
  width:164px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u848 {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  word-wrap:break-word;
}
#u849_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u849 {
  position:absolute;
  left:524px;
  top:66px;
  width:53px;
  height:21px;
}
#u850 {
  position:absolute;
  left:2px;
  top:3px;
  width:49px;
  word-wrap:break-word;
}
#u851 {
  position:absolute;
  left:596px;
  top:64px;
  width:105px;
  height:22px;
}
#u851_input {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u851_input:disabled {
  color:grayText;
}
#u852_div {
  position:absolute;
  left:0px;
  top:0px;
  width:714px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u852 {
  position:absolute;
  left:12px;
  top:92px;
  width:714px;
  height:49px;
}
#u853 {
  position:absolute;
  left:2px;
  top:16px;
  width:710px;
  visibility:hidden;
  word-wrap:break-word;
}
#u854 {
  position:absolute;
  left:596px;
  top:64px;
  width:105px;
  height:22px;
}
#u854_input {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u854_input:disabled {
  color:grayText;
}
#u855_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u855 {
  position:absolute;
  left:48px;
  top:104px;
  width:63px;
  height:26px;
}
#u856 {
  position:absolute;
  left:2px;
  top:6px;
  width:59px;
  word-wrap:break-word;
}
#u857_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u857 {
  position:absolute;
  left:301px;
  top:107px;
  width:101px;
  height:23px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u858 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  word-wrap:break-word;
}
#u859_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:46px;
}
#u859 {
  position:absolute;
  left:230px;
  top:36px;
  width:50px;
  height:46px;
}
#u860 {
  position:absolute;
  left:2px;
  top:15px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u861 {
  position:absolute;
  left:18px;
  top:186px;
  width:639px;
  height:184px;
}
#u862_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
}
#u862 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
}
#u863 {
  position:absolute;
  left:2px;
  top:8px;
  width:60px;
  word-wrap:break-word;
}
#u864_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u864 {
  position:absolute;
  left:64px;
  top:0px;
  width:108px;
  height:30px;
}
#u865 {
  position:absolute;
  left:2px;
  top:8px;
  width:104px;
  word-wrap:break-word;
}
#u866_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:30px;
}
#u866 {
  position:absolute;
  left:172px;
  top:0px;
  width:123px;
  height:30px;
}
#u867 {
  position:absolute;
  left:2px;
  top:8px;
  width:119px;
  word-wrap:break-word;
}
#u868_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:30px;
}
#u868 {
  position:absolute;
  left:295px;
  top:0px;
  width:84px;
  height:30px;
}
#u869 {
  position:absolute;
  left:2px;
  top:8px;
  width:80px;
  word-wrap:break-word;
}
#u870_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:30px;
}
#u870 {
  position:absolute;
  left:379px;
  top:0px;
  width:67px;
  height:30px;
}
#u871 {
  position:absolute;
  left:2px;
  top:8px;
  width:63px;
  word-wrap:break-word;
}
#u872_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:30px;
}
#u872 {
  position:absolute;
  left:446px;
  top:0px;
  width:73px;
  height:30px;
}
#u873 {
  position:absolute;
  left:2px;
  top:8px;
  width:69px;
  word-wrap:break-word;
}
#u874_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u874 {
  position:absolute;
  left:519px;
  top:0px;
  width:80px;
  height:30px;
}
#u875 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u876_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:30px;
}
#u876 {
  position:absolute;
  left:599px;
  top:0px;
  width:35px;
  height:30px;
}
#u877 {
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  word-wrap:break-word;
}
#u878_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
}
#u878 {
  position:absolute;
  left:0px;
  top:30px;
  width:64px;
  height:30px;
}
#u879 {
  position:absolute;
  left:2px;
  top:8px;
  width:60px;
  word-wrap:break-word;
}
#u880_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u880 {
  position:absolute;
  left:64px;
  top:30px;
  width:108px;
  height:30px;
}
#u881 {
  position:absolute;
  left:2px;
  top:8px;
  width:104px;
  word-wrap:break-word;
}
#u882_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:30px;
}
#u882 {
  position:absolute;
  left:172px;
  top:30px;
  width:123px;
  height:30px;
}
#u883 {
  position:absolute;
  left:2px;
  top:8px;
  width:119px;
  word-wrap:break-word;
}
#u884_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:30px;
}
#u884 {
  position:absolute;
  left:295px;
  top:30px;
  width:84px;
  height:30px;
}
#u885 {
  position:absolute;
  left:2px;
  top:8px;
  width:80px;
  word-wrap:break-word;
}
#u886_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:30px;
}
#u886 {
  position:absolute;
  left:379px;
  top:30px;
  width:67px;
  height:30px;
}
#u887 {
  position:absolute;
  left:2px;
  top:8px;
  width:63px;
  word-wrap:break-word;
}
#u888_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:30px;
}
#u888 {
  position:absolute;
  left:446px;
  top:30px;
  width:73px;
  height:30px;
}
#u889 {
  position:absolute;
  left:2px;
  top:8px;
  width:69px;
  word-wrap:break-word;
}
#u890_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u890 {
  position:absolute;
  left:519px;
  top:30px;
  width:80px;
  height:30px;
}
#u891 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u892_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:30px;
}
#u892 {
  position:absolute;
  left:599px;
  top:30px;
  width:35px;
  height:30px;
}
#u893 {
  position:absolute;
  left:2px;
  top:7px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u894_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
}
#u894 {
  position:absolute;
  left:0px;
  top:60px;
  width:64px;
  height:30px;
}
#u895 {
  position:absolute;
  left:2px;
  top:8px;
  width:60px;
  word-wrap:break-word;
}
#u896_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u896 {
  position:absolute;
  left:64px;
  top:60px;
  width:108px;
  height:30px;
}
#u897 {
  position:absolute;
  left:2px;
  top:8px;
  width:104px;
  word-wrap:break-word;
}
#u898_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:30px;
}
#u898 {
  position:absolute;
  left:172px;
  top:60px;
  width:123px;
  height:30px;
}
#u899 {
  position:absolute;
  left:2px;
  top:8px;
  width:119px;
  word-wrap:break-word;
}
#u900_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:30px;
}
#u900 {
  position:absolute;
  left:295px;
  top:60px;
  width:84px;
  height:30px;
}
#u901 {
  position:absolute;
  left:2px;
  top:8px;
  width:80px;
  word-wrap:break-word;
}
#u902_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:30px;
}
#u902 {
  position:absolute;
  left:379px;
  top:60px;
  width:67px;
  height:30px;
}
#u903 {
  position:absolute;
  left:2px;
  top:8px;
  width:63px;
  word-wrap:break-word;
}
#u904_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:30px;
}
#u904 {
  position:absolute;
  left:446px;
  top:60px;
  width:73px;
  height:30px;
}
#u905 {
  position:absolute;
  left:2px;
  top:8px;
  width:69px;
  word-wrap:break-word;
}
#u906_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u906 {
  position:absolute;
  left:519px;
  top:60px;
  width:80px;
  height:30px;
}
#u907 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u908_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:30px;
}
#u908 {
  position:absolute;
  left:599px;
  top:60px;
  width:35px;
  height:30px;
}
#u909 {
  position:absolute;
  left:2px;
  top:7px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u910_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
}
#u910 {
  position:absolute;
  left:0px;
  top:90px;
  width:64px;
  height:30px;
}
#u911 {
  position:absolute;
  left:2px;
  top:8px;
  width:60px;
  word-wrap:break-word;
}
#u912_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u912 {
  position:absolute;
  left:64px;
  top:90px;
  width:108px;
  height:30px;
}
#u913 {
  position:absolute;
  left:2px;
  top:8px;
  width:104px;
  word-wrap:break-word;
}
#u914_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:30px;
}
#u914 {
  position:absolute;
  left:172px;
  top:90px;
  width:123px;
  height:30px;
}
#u915 {
  position:absolute;
  left:2px;
  top:8px;
  width:119px;
  word-wrap:break-word;
}
#u916_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:30px;
}
#u916 {
  position:absolute;
  left:295px;
  top:90px;
  width:84px;
  height:30px;
}
#u917 {
  position:absolute;
  left:2px;
  top:8px;
  width:80px;
  word-wrap:break-word;
}
#u918_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:30px;
}
#u918 {
  position:absolute;
  left:379px;
  top:90px;
  width:67px;
  height:30px;
}
#u919 {
  position:absolute;
  left:2px;
  top:8px;
  width:63px;
  word-wrap:break-word;
}
#u920_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:30px;
}
#u920 {
  position:absolute;
  left:446px;
  top:90px;
  width:73px;
  height:30px;
}
#u921 {
  position:absolute;
  left:2px;
  top:8px;
  width:69px;
  word-wrap:break-word;
}
#u922_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u922 {
  position:absolute;
  left:519px;
  top:90px;
  width:80px;
  height:30px;
}
#u923 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u924_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:30px;
}
#u924 {
  position:absolute;
  left:599px;
  top:90px;
  width:35px;
  height:30px;
}
#u925 {
  position:absolute;
  left:2px;
  top:7px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:29px;
}
#u926 {
  position:absolute;
  left:0px;
  top:120px;
  width:64px;
  height:29px;
}
#u927 {
  position:absolute;
  left:2px;
  top:7px;
  width:60px;
  word-wrap:break-word;
}
#u928_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:29px;
}
#u928 {
  position:absolute;
  left:64px;
  top:120px;
  width:108px;
  height:29px;
}
#u929 {
  position:absolute;
  left:2px;
  top:7px;
  width:104px;
  word-wrap:break-word;
}
#u930_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:29px;
}
#u930 {
  position:absolute;
  left:172px;
  top:120px;
  width:123px;
  height:29px;
}
#u931 {
  position:absolute;
  left:2px;
  top:7px;
  width:119px;
  word-wrap:break-word;
}
#u932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:29px;
}
#u932 {
  position:absolute;
  left:295px;
  top:120px;
  width:84px;
  height:29px;
}
#u933 {
  position:absolute;
  left:2px;
  top:7px;
  width:80px;
  word-wrap:break-word;
}
#u934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:29px;
}
#u934 {
  position:absolute;
  left:379px;
  top:120px;
  width:67px;
  height:29px;
}
#u935 {
  position:absolute;
  left:2px;
  top:7px;
  width:63px;
  word-wrap:break-word;
}
#u936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:29px;
}
#u936 {
  position:absolute;
  left:446px;
  top:120px;
  width:73px;
  height:29px;
}
#u937 {
  position:absolute;
  left:2px;
  top:7px;
  width:69px;
  word-wrap:break-word;
}
#u938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:29px;
}
#u938 {
  position:absolute;
  left:519px;
  top:120px;
  width:80px;
  height:29px;
}
#u939 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:29px;
}
#u940 {
  position:absolute;
  left:599px;
  top:120px;
  width:35px;
  height:29px;
}
#u941 {
  position:absolute;
  left:2px;
  top:6px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u942_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
}
#u942 {
  position:absolute;
  left:0px;
  top:149px;
  width:64px;
  height:30px;
}
#u943 {
  position:absolute;
  left:2px;
  top:8px;
  width:60px;
  word-wrap:break-word;
}
#u944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u944 {
  position:absolute;
  left:64px;
  top:149px;
  width:108px;
  height:30px;
}
#u945 {
  position:absolute;
  left:2px;
  top:8px;
  width:104px;
  word-wrap:break-word;
}
#u946_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:30px;
}
#u946 {
  position:absolute;
  left:172px;
  top:149px;
  width:123px;
  height:30px;
}
#u947 {
  position:absolute;
  left:2px;
  top:8px;
  width:119px;
  word-wrap:break-word;
}
#u948_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:30px;
}
#u948 {
  position:absolute;
  left:295px;
  top:149px;
  width:84px;
  height:30px;
}
#u949 {
  position:absolute;
  left:2px;
  top:8px;
  width:80px;
  word-wrap:break-word;
}
#u950_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:30px;
}
#u950 {
  position:absolute;
  left:379px;
  top:149px;
  width:67px;
  height:30px;
}
#u951 {
  position:absolute;
  left:2px;
  top:8px;
  width:63px;
  word-wrap:break-word;
}
#u952_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:30px;
}
#u952 {
  position:absolute;
  left:446px;
  top:149px;
  width:73px;
  height:30px;
}
#u953 {
  position:absolute;
  left:2px;
  top:8px;
  width:69px;
  word-wrap:break-word;
}
#u954_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u954 {
  position:absolute;
  left:519px;
  top:149px;
  width:80px;
  height:30px;
}
#u955 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:30px;
}
#u956 {
  position:absolute;
  left:599px;
  top:149px;
  width:35px;
  height:30px;
}
#u957 {
  position:absolute;
  left:2px;
  top:7px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u958 {
  position:absolute;
  left:430px;
  top:108px;
  width:95px;
  height:22px;
}
#u958_input {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u958_input:disabled {
  color:grayText;
}
#u959 {
  position:absolute;
  left:626px;
  top:224px;
  width:16px;
  height:16px;
}
#u960 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u959_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u961 {
  position:absolute;
  left:626px;
  top:250px;
  width:16px;
  height:16px;
}
#u962 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u961_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u963 {
  position:absolute;
  left:626px;
  top:285px;
  width:16px;
  height:16px;
}
#u964 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u963_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u965 {
  position:absolute;
  left:626px;
  top:311px;
  width:16px;
  height:16px;
}
#u966 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u965_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u967 {
  position:absolute;
  left:626px;
  top:343px;
  width:16px;
  height:16px;
}
#u968 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u967_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u969 {
  position:absolute;
  left:36px;
  top:396px;
  width:78px;
  height:25px;
}
#u969_input {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u970 {
  position:absolute;
  left:441px;
  top:68px;
  width:73px;
  height:14px;
  font-size:12px;
  color:#FFFFFF;
}
#u971 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u972 {
  position:absolute;
  left:363px;
  top:403px;
  width:131px;
  height:18px;
  color:#FF0000;
}
#u973 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
