body {
  margin:0px;
  background-color:rgba(0, 102, 102, 0.498039215686275);
  background-image:none;
  position:static;
  left:auto;
  width:916px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u44_div {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#000000;
}
#u44 {
  position:absolute;
  left:308px;
  top:45px;
  width:298px;
  height:51px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#000000;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  word-wrap:break-word;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:46px;
}
#u46 {
  position:absolute;
  left:636px;
  top:45px;
  width:50px;
  height:46px;
}
#u47 {
  position:absolute;
  left:2px;
  top:15px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:71px;
  top:138px;
  width:533px;
  height:131px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
}
#u50 {
  position:absolute;
  left:2px;
  top:8px;
  width:114px;
  word-wrap:break-word;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u51 {
  position:absolute;
  left:118px;
  top:0px;
  width:127px;
  height:30px;
}
#u52 {
  position:absolute;
  left:2px;
  top:8px;
  width:123px;
  word-wrap:break-word;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:30px;
}
#u53 {
  position:absolute;
  left:245px;
  top:0px;
  width:152px;
  height:30px;
}
#u54 {
  position:absolute;
  left:2px;
  top:8px;
  width:148px;
  word-wrap:break-word;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:30px;
}
#u55 {
  position:absolute;
  left:397px;
  top:0px;
  width:131px;
  height:30px;
}
#u56 {
  position:absolute;
  left:2px;
  top:8px;
  width:127px;
  word-wrap:break-word;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
}
#u57 {
  position:absolute;
  left:0px;
  top:30px;
  width:118px;
  height:30px;
}
#u58 {
  position:absolute;
  left:2px;
  top:8px;
  width:114px;
  word-wrap:break-word;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u59 {
  position:absolute;
  left:118px;
  top:30px;
  width:127px;
  height:30px;
}
#u60 {
  position:absolute;
  left:2px;
  top:8px;
  width:123px;
  word-wrap:break-word;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:30px;
}
#u61 {
  position:absolute;
  left:245px;
  top:30px;
  width:152px;
  height:30px;
}
#u62 {
  position:absolute;
  left:2px;
  top:8px;
  width:148px;
  word-wrap:break-word;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:30px;
}
#u63 {
  position:absolute;
  left:397px;
  top:30px;
  width:131px;
  height:30px;
}
#u64 {
  position:absolute;
  left:2px;
  top:8px;
  width:127px;
  word-wrap:break-word;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:33px;
}
#u65 {
  position:absolute;
  left:0px;
  top:60px;
  width:118px;
  height:33px;
}
#u66 {
  position:absolute;
  left:2px;
  top:9px;
  width:114px;
  word-wrap:break-word;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:33px;
}
#u67 {
  position:absolute;
  left:118px;
  top:60px;
  width:127px;
  height:33px;
}
#u68 {
  position:absolute;
  left:2px;
  top:9px;
  width:123px;
  word-wrap:break-word;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:33px;
}
#u69 {
  position:absolute;
  left:245px;
  top:60px;
  width:152px;
  height:33px;
}
#u70 {
  position:absolute;
  left:2px;
  top:9px;
  width:148px;
  word-wrap:break-word;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:33px;
}
#u71 {
  position:absolute;
  left:397px;
  top:60px;
  width:131px;
  height:33px;
}
#u72 {
  position:absolute;
  left:2px;
  top:9px;
  width:127px;
  word-wrap:break-word;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:33px;
}
#u73 {
  position:absolute;
  left:0px;
  top:93px;
  width:118px;
  height:33px;
}
#u74 {
  position:absolute;
  left:2px;
  top:9px;
  width:114px;
  word-wrap:break-word;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:33px;
}
#u75 {
  position:absolute;
  left:118px;
  top:93px;
  width:127px;
  height:33px;
}
#u76 {
  position:absolute;
  left:2px;
  top:9px;
  width:123px;
  word-wrap:break-word;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:33px;
}
#u77 {
  position:absolute;
  left:245px;
  top:93px;
  width:152px;
  height:33px;
}
#u78 {
  position:absolute;
  left:2px;
  top:9px;
  width:148px;
  word-wrap:break-word;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:33px;
}
#u79 {
  position:absolute;
  left:397px;
  top:93px;
  width:131px;
  height:33px;
}
#u80 {
  position:absolute;
  left:2px;
  top:9px;
  width:127px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:71px;
  top:310px;
  width:665px;
  height:131px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
}
#u83 {
  position:absolute;
  left:2px;
  top:8px;
  width:114px;
  word-wrap:break-word;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u84 {
  position:absolute;
  left:118px;
  top:0px;
  width:127px;
  height:30px;
}
#u85 {
  position:absolute;
  left:2px;
  top:8px;
  width:123px;
  word-wrap:break-word;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:30px;
}
#u86 {
  position:absolute;
  left:245px;
  top:0px;
  width:152px;
  height:30px;
}
#u87 {
  position:absolute;
  left:2px;
  top:8px;
  width:148px;
  word-wrap:break-word;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:30px;
}
#u88 {
  position:absolute;
  left:397px;
  top:0px;
  width:132px;
  height:30px;
}
#u89 {
  position:absolute;
  left:2px;
  top:8px;
  width:128px;
  word-wrap:break-word;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:30px;
}
#u90 {
  position:absolute;
  left:529px;
  top:0px;
  width:131px;
  height:30px;
}
#u91 {
  position:absolute;
  left:2px;
  top:8px;
  width:127px;
  word-wrap:break-word;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
}
#u92 {
  position:absolute;
  left:0px;
  top:30px;
  width:118px;
  height:30px;
}
#u93 {
  position:absolute;
  left:2px;
  top:8px;
  width:114px;
  word-wrap:break-word;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u94 {
  position:absolute;
  left:118px;
  top:30px;
  width:127px;
  height:30px;
}
#u95 {
  position:absolute;
  left:2px;
  top:8px;
  width:123px;
  word-wrap:break-word;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:30px;
}
#u96 {
  position:absolute;
  left:245px;
  top:30px;
  width:152px;
  height:30px;
}
#u97 {
  position:absolute;
  left:2px;
  top:8px;
  width:148px;
  word-wrap:break-word;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:30px;
}
#u98 {
  position:absolute;
  left:397px;
  top:30px;
  width:132px;
  height:30px;
}
#u99 {
  position:absolute;
  left:2px;
  top:8px;
  width:128px;
  word-wrap:break-word;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:30px;
}
#u100 {
  position:absolute;
  left:529px;
  top:30px;
  width:131px;
  height:30px;
}
#u101 {
  position:absolute;
  left:2px;
  top:8px;
  width:127px;
  word-wrap:break-word;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:33px;
}
#u102 {
  position:absolute;
  left:0px;
  top:60px;
  width:118px;
  height:33px;
}
#u103 {
  position:absolute;
  left:2px;
  top:9px;
  width:114px;
  word-wrap:break-word;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:33px;
}
#u104 {
  position:absolute;
  left:118px;
  top:60px;
  width:127px;
  height:33px;
}
#u105 {
  position:absolute;
  left:2px;
  top:9px;
  width:123px;
  word-wrap:break-word;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:33px;
}
#u106 {
  position:absolute;
  left:245px;
  top:60px;
  width:152px;
  height:33px;
}
#u107 {
  position:absolute;
  left:2px;
  top:9px;
  width:148px;
  word-wrap:break-word;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:33px;
}
#u108 {
  position:absolute;
  left:397px;
  top:60px;
  width:132px;
  height:33px;
}
#u109 {
  position:absolute;
  left:2px;
  top:9px;
  width:128px;
  word-wrap:break-word;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:33px;
}
#u110 {
  position:absolute;
  left:529px;
  top:60px;
  width:131px;
  height:33px;
}
#u111 {
  position:absolute;
  left:2px;
  top:8px;
  width:127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:33px;
}
#u112 {
  position:absolute;
  left:0px;
  top:93px;
  width:118px;
  height:33px;
}
#u113 {
  position:absolute;
  left:2px;
  top:9px;
  width:114px;
  word-wrap:break-word;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:33px;
}
#u114 {
  position:absolute;
  left:118px;
  top:93px;
  width:127px;
  height:33px;
}
#u115 {
  position:absolute;
  left:2px;
  top:9px;
  width:123px;
  word-wrap:break-word;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:33px;
}
#u116 {
  position:absolute;
  left:245px;
  top:93px;
  width:152px;
  height:33px;
}
#u117 {
  position:absolute;
  left:2px;
  top:9px;
  width:148px;
  word-wrap:break-word;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:33px;
}
#u118 {
  position:absolute;
  left:397px;
  top:93px;
  width:132px;
  height:33px;
}
#u119 {
  position:absolute;
  left:2px;
  top:9px;
  width:128px;
  word-wrap:break-word;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:33px;
}
#u120 {
  position:absolute;
  left:529px;
  top:93px;
  width:131px;
  height:33px;
}
#u121 {
  position:absolute;
  left:2px;
  top:8px;
  width:127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u122 {
  position:absolute;
  left:71px;
  top:499px;
  width:850px;
  height:135px;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:34px;
}
#u123 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:34px;
}
#u124 {
  position:absolute;
  left:2px;
  top:10px;
  width:114px;
  word-wrap:break-word;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:34px;
}
#u125 {
  position:absolute;
  left:118px;
  top:0px;
  width:127px;
  height:34px;
}
#u126 {
  position:absolute;
  left:2px;
  top:10px;
  width:123px;
  word-wrap:break-word;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:34px;
}
#u127 {
  position:absolute;
  left:245px;
  top:0px;
  width:152px;
  height:34px;
}
#u128 {
  position:absolute;
  left:2px;
  top:10px;
  width:148px;
  word-wrap:break-word;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:34px;
}
#u129 {
  position:absolute;
  left:397px;
  top:0px;
  width:132px;
  height:34px;
}
#u130 {
  position:absolute;
  left:2px;
  top:10px;
  width:128px;
  word-wrap:break-word;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:34px;
}
#u131 {
  position:absolute;
  left:529px;
  top:0px;
  width:56px;
  height:34px;
}
#u132 {
  position:absolute;
  left:2px;
  top:10px;
  width:52px;
  word-wrap:break-word;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:34px;
}
#u133 {
  position:absolute;
  left:585px;
  top:0px;
  width:61px;
  height:34px;
}
#u134 {
  position:absolute;
  left:2px;
  top:10px;
  width:57px;
  word-wrap:break-word;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:34px;
}
#u135 {
  position:absolute;
  left:646px;
  top:0px;
  width:53px;
  height:34px;
}
#u136 {
  position:absolute;
  left:2px;
  top:10px;
  width:49px;
  word-wrap:break-word;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:34px;
}
#u137 {
  position:absolute;
  left:699px;
  top:0px;
  width:53px;
  height:34px;
}
#u138 {
  position:absolute;
  left:2px;
  top:2px;
  width:49px;
  word-wrap:break-word;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:34px;
}
#u139 {
  position:absolute;
  left:752px;
  top:0px;
  width:93px;
  height:34px;
}
#u140 {
  position:absolute;
  left:2px;
  top:10px;
  width:89px;
  word-wrap:break-word;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
}
#u141 {
  position:absolute;
  left:0px;
  top:34px;
  width:118px;
  height:30px;
}
#u142 {
  position:absolute;
  left:2px;
  top:8px;
  width:114px;
  word-wrap:break-word;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
}
#u143 {
  position:absolute;
  left:118px;
  top:34px;
  width:127px;
  height:30px;
}
#u144 {
  position:absolute;
  left:2px;
  top:8px;
  width:123px;
  word-wrap:break-word;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:30px;
}
#u145 {
  position:absolute;
  left:245px;
  top:34px;
  width:152px;
  height:30px;
}
#u146 {
  position:absolute;
  left:2px;
  top:8px;
  width:148px;
  word-wrap:break-word;
}
#u147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:30px;
}
#u147 {
  position:absolute;
  left:397px;
  top:34px;
  width:132px;
  height:30px;
}
#u148 {
  position:absolute;
  left:2px;
  top:8px;
  width:128px;
  word-wrap:break-word;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:30px;
}
#u149 {
  position:absolute;
  left:529px;
  top:34px;
  width:56px;
  height:30px;
}
#u150 {
  position:absolute;
  left:2px;
  top:7px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:30px;
}
#u151 {
  position:absolute;
  left:585px;
  top:34px;
  width:61px;
  height:30px;
}
#u152 {
  position:absolute;
  left:2px;
  top:7px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:30px;
}
#u153 {
  position:absolute;
  left:646px;
  top:34px;
  width:53px;
  height:30px;
}
#u154 {
  position:absolute;
  left:2px;
  top:7px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:30px;
}
#u155 {
  position:absolute;
  left:699px;
  top:34px;
  width:53px;
  height:30px;
}
#u156 {
  position:absolute;
  left:2px;
  top:7px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:30px;
}
#u157 {
  position:absolute;
  left:752px;
  top:34px;
  width:93px;
  height:30px;
}
#u158 {
  position:absolute;
  left:2px;
  top:8px;
  width:89px;
  word-wrap:break-word;
}
#u159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:33px;
}
#u159 {
  position:absolute;
  left:0px;
  top:64px;
  width:118px;
  height:33px;
}
#u160 {
  position:absolute;
  left:2px;
  top:9px;
  width:114px;
  word-wrap:break-word;
}
#u161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:33px;
}
#u161 {
  position:absolute;
  left:118px;
  top:64px;
  width:127px;
  height:33px;
}
#u162 {
  position:absolute;
  left:2px;
  top:9px;
  width:123px;
  word-wrap:break-word;
}
#u163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:33px;
}
#u163 {
  position:absolute;
  left:245px;
  top:64px;
  width:152px;
  height:33px;
}
#u164 {
  position:absolute;
  left:2px;
  top:9px;
  width:148px;
  word-wrap:break-word;
}
#u165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:33px;
}
#u165 {
  position:absolute;
  left:397px;
  top:64px;
  width:132px;
  height:33px;
}
#u166 {
  position:absolute;
  left:2px;
  top:9px;
  width:128px;
  word-wrap:break-word;
}
#u167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:33px;
}
#u167 {
  position:absolute;
  left:529px;
  top:64px;
  width:56px;
  height:33px;
}
#u168 {
  position:absolute;
  left:2px;
  top:8px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:33px;
}
#u169 {
  position:absolute;
  left:585px;
  top:64px;
  width:61px;
  height:33px;
}
#u170 {
  position:absolute;
  left:2px;
  top:8px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:33px;
}
#u171 {
  position:absolute;
  left:646px;
  top:64px;
  width:53px;
  height:33px;
}
#u172 {
  position:absolute;
  left:2px;
  top:8px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:33px;
}
#u173 {
  position:absolute;
  left:699px;
  top:64px;
  width:53px;
  height:33px;
}
#u174 {
  position:absolute;
  left:2px;
  top:8px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:33px;
}
#u175 {
  position:absolute;
  left:752px;
  top:64px;
  width:93px;
  height:33px;
}
#u176 {
  position:absolute;
  left:2px;
  top:8px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:33px;
}
#u177 {
  position:absolute;
  left:0px;
  top:97px;
  width:118px;
  height:33px;
}
#u178 {
  position:absolute;
  left:2px;
  top:9px;
  width:114px;
  word-wrap:break-word;
}
#u179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:33px;
}
#u179 {
  position:absolute;
  left:118px;
  top:97px;
  width:127px;
  height:33px;
}
#u180 {
  position:absolute;
  left:2px;
  top:9px;
  width:123px;
  word-wrap:break-word;
}
#u181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:33px;
}
#u181 {
  position:absolute;
  left:245px;
  top:97px;
  width:152px;
  height:33px;
}
#u182 {
  position:absolute;
  left:2px;
  top:9px;
  width:148px;
  word-wrap:break-word;
}
#u183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:33px;
}
#u183 {
  position:absolute;
  left:397px;
  top:97px;
  width:132px;
  height:33px;
}
#u184 {
  position:absolute;
  left:2px;
  top:9px;
  width:128px;
  word-wrap:break-word;
}
#u185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:33px;
}
#u185 {
  position:absolute;
  left:529px;
  top:97px;
  width:56px;
  height:33px;
}
#u186 {
  position:absolute;
  left:2px;
  top:8px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:33px;
}
#u187 {
  position:absolute;
  left:585px;
  top:97px;
  width:61px;
  height:33px;
}
#u188 {
  position:absolute;
  left:2px;
  top:8px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:33px;
}
#u189 {
  position:absolute;
  left:646px;
  top:97px;
  width:53px;
  height:33px;
}
#u190 {
  position:absolute;
  left:2px;
  top:8px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:33px;
}
#u191 {
  position:absolute;
  left:699px;
  top:97px;
  width:53px;
  height:33px;
}
#u192 {
  position:absolute;
  left:2px;
  top:8px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:33px;
}
#u193 {
  position:absolute;
  left:752px;
  top:97px;
  width:93px;
  height:33px;
}
#u194 {
  position:absolute;
  left:2px;
  top:8px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
